@model Pagination.Common.Pager

@if (Model != null)
{
    <ul class="pagination">
        <li class="page-item">
            <a class="page-link" asp-controller="Employees" asp-route-page="1" asp-route-rowperpage="@Model.PageSize" asp-route-searchString="@Model.SearchString"> First</a>
        </li>
        <li class="page-item">
            <a class="page-link" asp-controller="Employees" asp-route-page="@Model.Previous" asp-route-rowperpage="@Model.PageSize" asp-route-searchString="@Model.SearchString">Previous</a>
        </li>

        @for (int k = Model.StartButton; k <= Model.StopButton; k++)
        {
            @if (k == Model.CurrentPage)
            {
                <li class="page-item">
                    <a class="btn btn-warning" asp-controller="Employees" asp-route-page="1" asp-route-rowperpage="@Model.PageSize" asp-route-searchString="@Model.SearchString">@k</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Employees" asp-route-page="@k" asp-route-rowperpage="@Model.PageSize" asp-route-searchString="@Model.SearchString">@k</a>
                </li>
            }

        }

        <li class="page-item">
            <a class="page-link" asp-controller="Employees" asp-route-page="@Model.Next" asp-route-rowperpage="@Model.PageSize" asp-route-searchString="@Model.SearchString">Next</a>
        </li>

        <li class="page-item">
            <a class="page-link" asp-controller="Employees" asp-route-page="@Model.LastPage" asp-route-rowperpage="@Model.PageSize" asp-route-searchString="@Model.SearchString"> Last</a>
        </li>

    </ul>
}
